.introduction{
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;

    span{
        display: none;
    }
}

.list{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20vh;
    margin-bottom: 20vh;
    .content{
        margin-top: 7vh;
        margin-bottom: 5vh;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 800px) {
    .list{
        flex-direction: column;
        width: 100%;
        margin-top: 20vh;
        margin-bottom: 20vh;
        .content{
            width: 80%;
            height: auto;
        }
    }
}