.footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px -10px 6px rgba(0, 0, 0, 0.253);

    .topPart{
        width: 100%;
        height: 35vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2%;
        margin-bottom: 2%;

        .quickContact{
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .image{
                width: 100%;
                height: auto;
            }
            .icons{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: baseline;
                .a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 10%;
                    height: auto;
                    .icon{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .listContainer{
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            .list{
                width: 35%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                list-style: none;
                .h3{
                    font-size: 25px;
                    font-weight: 400;
                    margin-bottom: 7%;
                }
                .ul{
                    display: flex;
                    flex-direction: column;
                    .li{
                        text-decoration: none;
                        color: black;
                        font-size: 16px;
                        margin-bottom: 4%;
                        &:hover{
                            color: #658fad;
                        }
                    }
                }
            }
        }
        .iframe{
            border: 1px solid rgba(0, 0, 0, 0.329);
            width: 300px;
            height: 300px;
        }
    }
    .bottomPart{
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10vw;
        padding-right: 10vw;
        border-top: 1px solid rgba(0, 0, 0, 0.432);
        .a{
            text-decoration: none;
            color: black;
        }
    }
}



@media screen and (max-width: 1500px){
    .footer{
        .topPart{
            .listContainer{
                width: 35%;
                height: 100%;  
                .list{
                    width: 50%;
                    height: 60%;
                    justify-content: space-between;
                    .ul{
                        justify-content: space-between;
                        width: 100%;
                        overflow: hidden;
                        .li{
                            height: auto;
                            overflow: hidden;
                            overflow-x: hidden;
                            overflow-y: hidden;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
            .iframe{
                transform: scale(0.75);
            }
        }
    }
}

@media screen and (max-width: 1250px){
    .footer{
        .topPart{
            .quickContact{
                transform: scale(1.2);
            }
            .listContainer{
                width: 40%;
                height: 100%;  
                justify-content: center;
                .list{
                    width: 50%;
                    height: 60%;
                    justify-content: space-between;
                    .ul{
                        height: 80%;
                    }
                }
            }
            .iframe{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .footer{
        overflow: hidden;
        .topPart{
            height: 50vh;
            display: flex;
            .quickContact{
                transform: scale(1.5);
                height: 50%;
            }
            .listContainer{
                width: 40%;
                height: 100%;

            }
        }
    }
}

@media screen and (max-width: 800px){
    .footer{
        overflow: hidden;
        .topPart{
            height: 100%;
            display: flex;
            flex-direction: column-reverse;
            .quickContact{
                transform: scale(2);
                height: 50%;
                margin-top: 10vh;
            }
            .listContainer{
                width: 80%;
                height: 100%;
                justify-content: space-between;
                .list{
                    width:40%;
                    height: 100%;
                    justify-content: space-between;
                    .ul{
                        height: 100%;
                        .li{
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    .footer{
        .topPart{
            .quickContact{
                transform: scale(1);
                width: 80%;
                margin-top: 5vh;
                margin-bottom: 5vh;
            }
            .listContainer{
                display: none;
            }
        }
        .bottomPart{
            justify-content: center;
            :nth-child(2n+1){
                display: none;
            }
        }
    }
}