.main{
    width: 100%;
}


.shiatsuPresentation{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 10;

    .bottomSentence{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .sentence{
            font-weight: bold;
        }
        .span{
            height: 1px;
            width: 20%;
            margin-top: 2vh;
            background-color: #2E8FCF;
        }
    }
}


.bienfaits{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 25vh;
    z-index: 10;
    
    .cardContainer{
        margin-top: 7vh;
        margin-bottom: 5vh;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}

.infoShiatsu{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 30vh;
    margin-bottom: 30vh;
    z-index: 10;

    .infoShiatsuContent{
        margin-top: 10vh;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #e9f7ff5b;
        border-radius: 25px;

        p{
            width: 85%;
            text-align: center;
            font-size: 18px;
            padding: 35px;
        }
    }

    .bottomSentence{
        width: 50%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .sentence{
            font-weight: bold;
            margin-bottom: 1%;
            text-align: center;
        }
        .span{
            height: 1px;
            width: 20%;
            background-color: #2E8FCF;
        }
    }
}

.statistiquesContainer{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    .statistiques{
        width: 100%;
        height: 45vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        background-image: url('../assets/images_new/illustration_zen_photo.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 8vh;
        margin-bottom: 15vh;
    
        .statCard{
            width: 300px;
            height: 60%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            padding: 35px;
            border: 1.2px solid white;
            color: white;
            background-color: rgba(255, 255, 255, 0.068);
            img{
                overflow: hidden;
                height: 30%;
                width: auto;
            }
            
            .stat{
                overflow: hidden;
                font-size: 52px;
                font-weight: bold;
            }
            p{
                overflow: hidden;
            }
        }
    }
}
.clientNote{
    margin-bottom: 0;
}

.wipe-transition{
    width: 100vw;
    height: 100vh;
    background-color: rgb(121, 146, 228);
    position: fixed;
    top: -100vh;
    left: 0vw;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;

    p{
        font-size: 60px;
        position: relative;
        text-align: center;
        width: 100vw;
    }
}


@media screen and (max-width: 1500px){
    .shiatsuPresentation{
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .bienfaits{
        height: 120vh;
    }
    .infoShiatsu{
        height: 45vh;
    }
    .statistiquesContainer{
        .statistiques{
            height: 55vh;
        }
    }
}

@media screen and (max-width: 1250px){
    .infoShiatsu{
        .infoShiatsuContent{
            width: 80%;
        }
    }
    .statistiquesContainer{
        width: 100vw;
        .statistiques{
            width: 100vw;
            height: 75vh;
            margin-top: 8vh;
            margin-bottom: 15vh;
            .statCard{
                height: 35%;
                margin-right: 5%;
                margin-left: 5%;
                margin-top: 0;
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .bienfaits{
        height: 200vh;
        width: 100%;
        .cardContainer{
            width: 80%;
            justify-content: center;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 800px){
    .shiatsuPresentation{
        height: 130vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 5%;
        margin-bottom: 10%;

        .bottomSentence{
            width: 90%;
            height: 10%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column-reverse;
            text-align: center;
            .sentence{
                font-weight: bold;
            }
            .span{
                height: 1px;
                width: 20%;
                background-color: #2E8FCF;
            }
        }
    }
    .bienfaits{
        height: auto;
        width: 100%;
        font-size: 14px;
    }
    .infoShiatsu{
        height: 55vh;
    }
    .statistiquesContainer{
        .statistiques{
            width: 100vw;
            height: 125vh;
            .statCard{
                width: 60%;
                height: 20%;
            }
        }
    }
}

@media screen and (max-width: 600px){
    .infoShiatsu{
        width: 100vw;
        height: auto;
        .infoShiatsuContent{
            p{
                font-size: 14px;
                padding: 15px;
            }
        }
        .bottomSentence{
            margin-top: 5%;
            width: 70%;
        }
    }
    .statistiquesContainer{
        .statistiques{
            .statCard{
                width: 80%;
                .stat{
                    overflow: hidden;
                    font-size: 30px;
                    font-weight: bold;
                }
            }
        }
    }
}





.roundshape{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius:100% ;
    background: rgb(46,143,207);
    background: linear-gradient(353deg, rgba(46, 143, 207, 0.63) 28%, rgba(128, 196, 220, 0.548) 100%);
    z-index: -10;
}
.color1{
    top: 100vh;
    left: 7%;
    transform: rotate(-25deg);
}
.color2{
    top: 250vh;
    left: 7%;
    width: 200px;
    height: 200px;
}
.color3{
    top: 323vh;
    right: 15%;
    transform: rotate(-25deg);
}
.color4{
    top: 412vh;
    right: 10%;
    width: 320px;
    height: 320px;
    transform: rotate(15deg);
}
.color5{
    top: 440vh;
    right: 27%;
    width: 70px;
    height: 70px;
    transform: rotate(190deg);
}
.color6{
    top: 160vh;
    right: 10%;
    transform: scale(0.7);
}