.reverse{
    flex-direction: row-reverse !important;
    .content{
        text-align: right !important;
        align-items: flex-end !important;
    }
}

.contentBloc{
    width: 80vw;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .img{
        width: 45%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content{
        width: 45%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        text-align: left;
        p{
            padding: auto;
            width: 100%;
            overflow: hidden;
            font-size: 16px;
        }
    }
    .span{
        height: 50%;
        width: 1px;
        background-color: #2E8FCF;
        position: relative;
        right: 0;
    }
}

@media screen and (max-width: 1250px){
    .contentBloc{
        width: 80vw;
        height: 60%;
    
        .img{
            width: 55%;
            height: 100%;
        }
        .content{
            width: 40%;
            height: 100%;
            p{
                font-size: 14px;
            }
        }
    }
}
@media screen and (max-width: 800px){
    .contentBloc{
        width: 80vw;
        height: 80%;
        flex-direction: column;
        margin-top: 5%;
    
        .img{
            height: 45%;
            width: 100%;
        }
        .content{
            height: 52%;
            width: 100%;
            justify-content: center;
            text-align: center;
            p{
                margin-bottom: 2%;
            }
        }
        .span{
            display: none;
        }
    }
}
@media screen and (max-width: 600px){
    
}