.content{
    width: 100vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    a, p{
        width: auto;
        display: flex;
        justify-content: flex-start;
        padding: 15px;
    }
}