.title{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .firstTitle{
        font-size: 40px;
        font-weight: 400;
        position: relative;
        padding: 5px;
        display: flex;
        .coloredWord{
            color: #2E8FCF;
        }
        &::after{
            position: absolute;
            content: '';
            background-color: #2E8FCF;
            bottom: 2px;
            left: 15px;
            width: 40%;
            height: 2px;
            transition: 0.3s ease all;
            z-index: 10;
        }
    }
    .subTitle{
        font-size: 16px;
        font-weight: 300;
        color: rgba($color: #000000, $alpha: 0.5);
        text-align: center;
        width: 80%;
    }
    .mainWord{
        font-size: 50px;
        font-weight: 300;
        color: rgba($color: #000000, $alpha: 0.2);
        letter-spacing: 5px;
        position: absolute;
        margin-top: 3%;
        z-index: 1;
    }
}

@media screen and (max-width: 1200px) {
    .title{
        transform: scale(0.95);
    }
}
@media screen and (max-width: 800px) {
    .title{
        transform: scale(0.9);
        .subTitle{
            display: none;
        }
    }
}
@media screen and (max-width: 600px) {
    .title{
        transform: scale(0.7);
    }
}